.wrapper { 
    margin: 0 auto;
    max-width: 1200px;
}

.header-title {
    background: violet;
}

.contaier {
    display: flex;
}

#main-content {
    background: red;
    width: 80%;
}

#side-menu {
    background: orange;
    width: 20%;
    flex-direction: row;
}

footer {
    background: seagreen;
}