/* 全体のラッパー */
.wrapper { 
    margin: 0 auto;
    max-width: 1200px;
}

/*ヘッダー*/
.header-title {
    background: violet;
}

/*コンテナ1*/
.contaier {
    display: flex;
    flex-direction: row;
}

#main-content {
    background: red;
    width: 70%;
    flex-direction: column;

}

#side-menu {
    background: orange;
    width: 30%;
}

/*イントロラッパー*/
#intro-container { 
    display: flex;
    flex-direction: row;
}

/*イントロコンテナ*/
#ntro-picture-container {
    flex-direction: column;
    width: 50%;
}

#-intro-paragraph-container {
    width: 50%;
}

/*紹介者コンテナ*/
#participant-container {
    display: flex;
    flex-direction: row;
}

#participant-mergin-container {
    width: 20%;
}

#participant-container1 {
    width: 50%;
    flex-direction: column;
}

#participant-container2 {
    width: 50%;
    flex-direction: column;
}


/*フッター*/
footer {
    background: seagreen;
}