/*全般的なスタイル*/
* {
	margin:0; padding:0; 	/*全要素のマージン・パディングをリセット*/
	color:#333333;		/*文字色*/

}
body {
	text-align:center;		/*センタリングするため*/
}
div#pagebody {
	width:1100px; margin:0 auto;	/*内容全体をセンタリング*/
	text-align:left;	/*テキストの配置を左揃えにする*/
}

/*ヘッダ*/
div#header {
	height:77px;	/*背景画像のサイズに合わせてボックスの高さを指定*/
	background-image:url("images/bg_header.jpg");	/*ヘッダ部分の背景画像*/
	background-repeat:no-repeat;		/*背景画像を繰り返さない*/
	background-color:#cccccc;		/*ヘッダ部分の背景色*/
}
h1 {
	padding:20px 0px 0px 30px;		/*見出し内容の位置調整*/
}
h1 a {text-decoration:none;} 			/*リンクの下線を無くす*/

/*メインメニュー*/
ul#menu {
	height:42px; background-color:#eeeeee; font-weight:bold;
}
li#menu01,li#menu02,li#menu03,li#menu04,li#menu05,li#menu06,li#menu07,li#menu08 {
	float:left;			/*リスト項目を横に並べる*/
	display:inline;			/*リスト項目をインライン表示にする*/
	list-style-type:none;		/*リストマーカー無しにする*/
	background-repeat:no-repeat; 	/*背景画像を繰り返さない*/
}

/*ボタン01～08にはそれぞれ異なる背景画像を指定する*/
li#menu01 {
	width:180px; height:42px;	/*背景画像に合わせたサイズ指定*/
	background-image:url("images/bg_menu01.jpg");	/*背景画像*/
}
li#menu02 {
	width:180px; height:42px;	/*背景画像に合わせたサイズ指定*/
	background-image:url("images/bg_menu02.jpg");	/*背景画像*/
}
li#menu03 {
	width:120px; height:42px;	/*背景画像に合わせたサイズ指定*/
	background-image:url("images/bg_menu03.jpg");	/*背景画像*/
}
li#menu04 {
	width:120px; height:42px;	/*背景画像に合わせたサイズ指定*/
	background-image:url("images/bg_menu04.jpg");	/*背景画像*/
}
li#menu05 {
	width:80px; height:42px;	/*背景画像に合わせたサイズ指定*/
	background-image:url("images/bg_menu04.jpg");	/*背景画像*/
}
li#menu06 {
	width:120px; height:42px;	/*背景画像に合わせたサイズ指定*/
	background-image:url("images/bg_menu04.jpg");	/*背景画像*/
}
li#menu07 {
	width:120px; height:42px;	/*背景画像に合わせたサイズ指定*/
	background-image:url("images/bg_menu04.jpg");	/*背景画像*/
}
li#menu08 {
	width:120px; height:42px;	/*背景画像に合わせたサイズ指定*/
	background-image:url("images/bg_menu05.jpg");	/*背景画像*/
}
ul#menu a {
	display:block;				/*リンクをブロック表示にする*/
	height:42px; padding-top:10px; text-align:center;
	text-decoration:none; 			/*リンクの下線を無くす*/
}

/*メインウィンドウ*/
.main_top {
  display: flex;			/* 横並び */
}

.left_1, .center_1 , .right_1 {
	height: 300px;			/* 高さ指定 */
	width: 45%;			/* 幅指定 */
	background-color: #ff;		/* 背景色指定 */
	margin:  5px;			/* 周りの余白指定 */
}
.left_1 {
	width: 25%;			/* 幅指定 */
}
.right_1 {
	width: 25%;			/* 幅指定 */
	border: 1px solid #000000;	/* 枠線 */
}
/*フッタ*/
div#footer {
	height:42px; text-align:center;
	clear:both;					/*回り込みを解除する*/
	background-image:url("images/bg_footer.jpg");	/*フッタ部分の背景画像*/
	background-repeat:no-repeat;			/*背景画像を繰り返さない*/
	background-color:#cccccc;			/*フッタ部分の背景色*/
}
address {
	font-style:normal;			 /*フォントスタイルを標準にする*/
	font-size:small;			 /*フォントサイズを小さくする*/
	padding:10px 0px 5px 0px;		 /*要素内容の位置調整*/
}
