.heading {
    clear: both;
    width: 690px;
    height: 22px;
    line-height: 21px;
    padding: 2px 5px 0 21px;
    background: url(/img/basic/skin/gray/heading/body_main_area001.gif) no-repeat 0 0;
    color: #333;
}

dl,dt,dd {
  box-sizing: border-box;
}

dl {
    width:1000px;
    background: rgb(167, 196, 230);
    border-right: 1px solid#d0d0d1;
    border-bottom: 1px solid #d0d0d1;
    border-left: 1px solid #d0d0d1;
}

dt,dd {
    padding: 10px 10px 0 10px;
    border-top: 1px solid #d0d0d1;
}

dt {
    width: 40%;
    float: left;
}

dd {
    background: #fff;
    margin-left: 40%;
    padding-bottom: 10px;
    border-left: 1px solid #d0d0d1;
}

dd:after {
    content: '';
    display: block;
    clear: both;
}

.necessaryItem {
    color: #d00;
    font-weight: 700;
}

/*
dl{
    list-style:none;
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
    border-bottom: 1px solid #999999;
    overflow:auto;
    }

dt{
    float: left ;
    clear: left ;
    margin-right: 0.5em ;
    width: 120px ;
    border-bottom: 1px solid #999999;
    border-right: 1px solid #999999;
}

dd {
    float: left ;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

*/